@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FDFDFD;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-l {
    width: 700px;
}